[submodule "ghostty"]
	path = ghostty
	url = https://github.com/ianblenke/ghostty.git
	branch = main
[submodule "homebrew-cmux"]
	path = homebrew-cmux
	url = https://github.com/ianblenke/homebrew-cmux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/ianblenke/bonsplit.git
